.input-form {
    padding-top: 0;
    width: 90%;
    height: 20rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
}

.real-form {
    width: 100%;
    margin: 10% auto;
}

.form-input {
    width: 100%;
}
.form-button {
    width: 100%;
}