.SingleComment {
    padding-top: 0;
    width: 90%;
    height: 20rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.profilePic {
    width: 30%;
    margin: 10% auto;
    padding-left: 1rem;
}

.profileName {
    width: 100%;
    margin: 10% auto;
}
